/* Existing Styles */
/* Styles for the navbar and other elements */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-space {
    background-color: white; /* Set the background color */
    padding-top: 100px; /* Adjust the value as needed */
    margin-top: 0; /* Ensure there's no additional margin */
}

.login-button {
    background-color: #002d62;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-right: 20px;
}

.navbar {
    background-color: rgb(242, 205, 8);
    height: 80px;
}

.brand-logo {
    height: 60px;
    transition: 0.3
}

.brand-logo-small {
    height: 40px;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #000;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #002d62;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute; 
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #002d62;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link:active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url('ranch-school.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Responsive styles */
@media (max-width: 991px) {
    .navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        flex: 1;
    }

    .navbar-brand img {
        max-height: 60px;
        height: auto;
    }

    .login-button {
        padding: 6px 15px;
        font-size: 12px;
        border-radius: 20px;
    }
    
    .hero-section {
        height: 50vh;
    }
}

/* Styles for the footer */

footer {
    background-color: white;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #002d62;
    opacity: .9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #002d62;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #000;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

.gradient-custom {
    /* fallback for old browsers */
    background: #ffffff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(242, 205, 8, 1), rgb(255, 255, 255));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(242, 205, 8, 1), rgb(255, 255, 255));
}

.custom-card {
    border-radius: 1rem;
    max-height: 800px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.vh-100 {
    min-height: 100vh;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.table-dark th, .table-dark td, .table-dark thead th {
    border-color: #444;
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}

body {
    background: #e8e8e8;
}

.form-area {
    padding-top: 7%;
}

.row.single-form {
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}

.left {
    background: #444;
    padding: 200px 98px;
}

.left h2 {
    font-family: poppins;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.left h2 span {
    font-weight: 100;
}

.single-form {
    background: #fff;
}

.right {
    padding: 70px 100px;
    position: relative;
}

.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: #fff;
}

.form-control {
    border: 2px solid #000;
}

.right button {
    border: none;
    border-radius: 0;
    background: #252525;
    width: 180px;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.right button:hover {
    background-color: #252525;
}

/*responsive*/

@media (min-width:768px) and (max-width:991px) {
    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}

@media (max-width:767px) {
    .left {
        padding: 90px 15px;
        text-align: center;
    }
    .left h2 {
        font-size: 25px;
    }
    .right {
        padding: 25px;
    }
    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 46%;
    }
    .right button {
        width: 150px;
        padding: 12px 0;
    }
}

 /*
 This is for the student homepage
 */
.leaderboards-container {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.leaderboard-wrapper {
    width: 75%; 
    padding-top: 50px;
    
    
}

@media (max-width: 768px) {
    .leaderboard-wrapper {
        width: 100%; 
    }
}

/* New Styles */
.new-section * {
    margin-top: 20px;
    font-size: 62.5%;
    box-sizing: border-box;
}

.new-section body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #fbfaff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-section main {
    width: 40rem;
    height: 43rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.new-section #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
}

.new-section .share {
    width: 4.5rem;
    height: 3rem;
    background-color: #f55e77;
    border: 0;
    border-bottom: 0.2rem solid #c0506a;
    border-radius: 2rem;
    cursor: pointer;
}

.new-section .share:active {
    border-bottom: 0;
}

.new-section .share i {
    color: #fff;
    font-size: 2rem;
}

.new-section h1 {
    font-family: "Rubik", sans-serif;
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
}

.new-section #leaderboard {
    width: 100%;
    position: relative;
}

.new-section table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
}

.new-section tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}

.new-section tr:not(:first-child):hover {
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
}

.new-section tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.new-section tr:nth-child(1) {
    color: #000;
}

.new-section td {
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
}

.new-section .number {
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
}

.new-section .name {
    text-align: left;
    font-size: 1.2rem;
}

.new-section .points {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.new-section .points:first-child {
    width: 10rem;
}

.new-section .gold-medal {
    height: 3rem;
    margin-left: 1.5rem;
}

.new-section .ribbon {
    width: 42rem;
    height: 5.5rem;
    top: -0.5rem;
    background-color: #5c5be5;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.new-section .ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
}

.new-section .ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
}

.new-section #buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.new-section .exit {
    width: 11rem;
    height: 3rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #7e7f86;
    border: 0;
    background-color: #fff;
    border-radius: 2rem;
    cursor: pointer;
}

.new-section .exit:hover {
    border: 0.1rem solid #5c5be5;
}

.new-section .continue {
    width: 11rem;
    height: 3rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #5c5be5;
    border: 0;
    border-bottom: 0.2rem solid #3838b8;
    border-radius: 2rem;
    cursor: pointer;
}

.new-section .continue:active {
    border-bottom: 0;
}

@media (max-width: 740px) {
    .new-section * {
        font-size: 70%;
    }
}

@media (max-width: 500px) {
    .new-section * {
        font-size: 55%;
    }
}

@media (max-width: 390px) {
    .new-section * {
        font-size: 45%;
    }
}

/*
Analytics Page
*/


.card {
    margin-top: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-text {
    font-size: 2rem;
    font-weight: 700;
}

.table {
    margin-top: 1rem;
}

.table th, .table td {
    text-align: center;
}

.table thead {
    background-color: #e9ecef;
}

.form-range {
    margin-bottom: 1rem;
}




